{% extends "baseusuarios.html" %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h2 class="mb-3">
            Bienvenido, {{ session['nombre'] }} {{ session['apellido'] }} <br> 
            Cédula: {{ session['cedula'] }}
        </h2>

        <h2 class="mb-3">
            Estado de tu préstamo: <span class="text-success">{{ session['estado'] }}</span>
        </h2>

        <h2 class="mb-4">
            Dinero disponible:
            <p id="dinero" class="fw-bold text-warning fs-3">{{ session['dinero'] }}</p>
        </h2>

        <form action="{{ url_for('abonar') }}" method="POST">
            <div class="mb-3 d-flex justify-content-center align-items-center">
                <label for="abono" class="form-label me-3 fs-5">Cantidad a abonar:</label>
                <input type="number" class="form-control w-25 bg-secondary text-white border-0 text-center" id="abono" name="abono">
                <button type="submit" class="btn btn-success ms-3">Abonar a deuda</button>
            </div>
            
        </form>
        
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let dineroTexto = document.getElementById("dinero").innerText.trim();
        let dineroUsuario = parseFloat(dineroTexto);
        
        if (!isNaN(dineroUsuario)) {
            document.getElementById("dinero").innerText = 
                new Intl.NumberFormat("es-CO", { 
                    style: "currency", 
                    currency: "COP", 
                    minimumFractionDigits: 0, 
                    maximumFractionDigits: 0 
                }).format(dineroUsuario);
        }
    });

    function abonarDeuda() {
        let abono = document.getElementById("abono").value;

        fetch("{{ url_for('abonar') }}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ abono: abono })
        })
        .then(response => response.json())
        .then(data => alert(data.mensaje))
        .catch(error => console.error("Error:", error));
    }

    


</script>

{% endblock %}
